header{
    text-align: center;
    display: inline;
}

header #img{
    align-content: center;
}



footer {
    position: fixed;
    bottom: 0;
    font-size: small;
}

footer ul li{
    display: inline;
}
