header{
    text-align: center;
    display: inline;
}

header h1{
    
}


header #img{
    align-content: center;
    margin-right: 10%;
}



footer {
    position: fixed;
    bottom: 0;
    font-size: small;
}

footer ul li{
    display: inline;
}
